body{
    font-family: "Roboto", sans-serif;
    size: 1rem;
}

#main-layout{
    display: grid;
    grid-template-rows: 120px 200px 200px 200px;
    grid-template-columns: 200px 300px 300px 300px ;
    background-color: blue;
}

#sidebar{
    background-color: cornflowerblue;
    color: white;
    grid-area: 1/1/5/2;
    display: flex;
    flex-direction: column;
}
.home{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: x-large;
    display: flex;
    font-weight: bold;
}
.tools{
    margin-top: 5%;
    margin-bottom: 30%;
}
.home .menu {
    padding-top: 20px;
}

.menu {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 30px;
    width: auto;
    text-align: center;
}

.menu-img{
    height: 50px;
    width: 50px;
    margin-top: 10%;
    margin-left: 10px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.tools div, .settings div {
    display: flex;
}

.tools .menu-img, .settings .menu-img{
    height: 20px;
    width: 20px;
    margin-top: 7.5%;
    margin-left: 25px;
}

.tools .menu, .settings .menu{
    margin-top:15px;
    margin-left: 10px;
}

#topbar{
    background-color: whitesmoke;
    grid-area: 1/2/2/6;
    box-shadow: 0px 20px 10px #aaaaaa;
}

#content-container{
    display: grid;
    grid-template-columns: 300px 300px 200px;
    grid-template-rows: 100px 300px 200px;
    background-color: aquamarine;
    grid-area: 2/2/5/6;
}

#projects{
    background-color: lightgray;
    grid-area: 1/1/4/4;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 100px; 
    
}

.projects-heading{
    font-size: large;
    padding: 2% 4%;
    grid-area: 1/1/2/3;
    margin-left: 40px;
    margin-top: 20px;
}

#projects-container{
    grid-area: 2/1/4/4;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(2,380px);
    grid-template-rows: repeat(3,183px);
    gap: 0 10px;
}

.project{
    margin: 10px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5px 60px 130px 40px 40px 40px;
    grid-template-rows: 10px 100px 10px;
    box-shadow: 3px 3px 3px lightgrey;
}
.project-color-bar {
    grid-area: 1/1/5/2;
    background-color: goldenrod;
    border-radius: 40px 0px 0px 40px;
}

.project-text {
    grid-area: 1/2/4/6;
    background-color: white;
}

.project-text h5 {
    margin-top: 10px;
    margin-left: 10px;
}
.project-text p {
    margin-top: -20px;
    margin-left: 10px;
    font-size: 0.9rem;
    color: gray ;
}

.project-icon1 {
    grid-area: 4/4/4/4;
}
.project-icon2 {
    grid-area: 4/5/4/5;
}
.project-icon3 {
    grid-area: 4/6/4/6;
}

.project-tool {
    height: auto;
    width: 20px;
}

.content-rightside{
    display: flex;
    flex-direction: column;
    row-gap: 50%;
    grid-area: 1/4/4/5;
}

.content-rightside > div {
    border: 1px solid black;
}

.topbar-img {
    height: 20px;
    width: 20px;

}

.icon-img{
    height: 27px;
    width: 30px;
}
.search input {
    border-radius: 10px;
    outline: none;
    background-color: lightgray;
    border:0;
    height: 20px;
    margin-left:1%;
    padding-left: 1%;
    margin-right: 20%
}
.search {
    padding-left: 3%;
    padding-top: 2%;
    display: flex;

}

.search .bell{
    padding-right: 2%;
}

.search .profile-top{
    background-color: yellow;
    border-radius: 20px;
    padding: 2px;
    margin-top: -5px;
    margin-right: 2% 
}

.user-info{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10% 59% 10% 10% 10%;
}

.user-info button {
    background-color: cornflowerblue;
    color:white;
    border-radius: 25px;
    height: 30px;
    width: 80px;
    border: none;
    font-weight: bold;
}

.user-info .profile-bottom {
    background-color: yellow;
    border-radius: 25px;
    height: 50px;
    width: 55px;
    margin-left: 35%;
}

.welcome-card {
    font-weight: bold;
}

.welcome-message {
    font-size: small;
}

.welcome-user {
    font-size: large;
}


